{% extends 'base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
{% endblock %}

{% block content %}
<main class="container">
    <div class="upcoming-box">
        <div class="section upcoming">
            <span></span> 開催予定
        </div>
        <div class="event-container">
            <!-- <div class="event-card">
                <div class="image">
                    <img src="{{ url_for('static', filename='images/event_20250219.png') }}" alt="no.img">
                </div>
                <div class="details">
                    <p><strong>タイトル</strong><br>AIで変わる子どもたちの未来<br>〜AI犯罪の増加＆広がるAI格差〜</p>
                    <p><strong>日時</strong><br>2025/02/19（水）10:30〜12:00</p>
                    <p><strong>場所</strong><br>福岡県福岡市博多区博多駅前ウーブル博多508号室</p>
                    <p><strong>料金</strong><br>1,000円（対面は現金のみ）</p>
                    <p><strong>内容</strong><br>・AIの基本<br>・子どもが被害に遭うかもしれないAI犯罪</p>
                    <a href="https://forms.gle/gEbajVpXdPqVHN9v9" class="apply-btn">申し込む</a>
                </div>
            </div>
            <div class="event-card">
                <div class="image">
                    <img src="{{ url_for('static', filename='images/event_20250219.png') }}" alt="no.img">
                </div>
                <div class="details">
                    <p><strong>タイトル</strong><br>AIで変わる子どもたちの未来<br>〜AI犯罪の増加＆広がるAI格差〜</p>
                    <p><strong>日時</strong><br>2025/02/19（水）20:30〜22:00</p>
                    <p><strong>場所</strong><br>オンライン（Google Meet使用</p>
                    <p><strong>料金</strong><br>1,000円</p>
                    <p><strong>内容</strong><br>・AIの基本<br>・子どもが被害に遭うかもしれないAI犯罪</p>
                    <a href="https://forms.gle/gEbajVpXdPqVHN9v9" class="apply-btn">申し込む</a>
                </div>
            </div> -->
        </div>
    </div>

    <!-- <div class="past-box">
        <div class="section past">
            <span></span> イベント実績
        </div>
        <div class="carousel">
            <button>&#9664;</button>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <button>&#9654;</button>
        </div>
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->

    <div class="request-box">
        <div class="section request">
            <span></span> イベント依頼
        </div>
        <div class="request-text">
            <p>ご依頼に合わせて、AI関連イベント開催も承っております。</p>
            <p>例：画像生成を使ったワークショップ</p>
            <p>例：安全なAiの使い方</p>
        </div>
        <a href="{{ url_for('contact') }}" class="request-btn">ご依頼はこちら</a>
    </div>
</main>
    

{% endblock %}
